@media screen and (max-width: 414px) {
  .intro-select {
    /* margin-top: px; */
  }

  .intro-select {
    height: 250px;
  }

  .intro-select h5 {
    font-size: 16px;
  }

  .intro-select h1 {
    font-size: 24px;
  }

  .drink-list ul li p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1280px) {
  .drink-list ul {
    width: auto;
    /* padding-right: 10px;
    padding-left: 15px; */
    /* margin: 0 auto; */

    padding-right: 70px;
    padding-left: 73px;
    margin-left: 0;
  }

  .drink-list ul li {
    flex-grow: 0;
  }
}
