/*-----ingredient top-----*/
.ingredient-top {
  width: auto;
  /* margin-top: 40px; */
  /* border: solid red 5px; */
  color: #949486;
}

.ingredient-top h5 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 40px;
  margin-bottom: 8px;

  /* line-height: 190px; */
}

.ingredient-top h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: bold;
  /* line-height: 190px; */
}

/*-----ingredient-content-----*/

.ingredient-content {
  width: auto;
}

.ingredient-content ul {
  margin-bottom: 50px;
}

.ingredient-content ul li {
  display: flex;
  height: 485px;
}

.ingredient-content ul li .img-block {
  width: 50%;
  /* outline: 5px solid red; */
}

.ingredient-content ul li:first-child .img-block {
  background-image: url(../img/ingredient_img1.png);
}

.ingredient-content ul li:nth-child(2) .img-block {
  background-image: url(../img/ingredient_img2.png);
}

.ingredient-content ul li:nth-child(3) .img-block {
  background-image: url(../img/ingredient_img3.png);
}

.ingredient-content ul li .img-block {
  background-size: cover;
}

.ingredient-content ul li .content-block {
  width: 50%;
  /* outline: 5px solid blue; */
  text-align: center;
  padding-top: 150px;
}

.ingredient-content ul li .content-block h2 {
  font-size: 35px;
  font-weight: bold;
  color: #949486;
  margin-bottom: 20px;
}

.ingredient-content ul li .content-block p {
  margin-bottom: 15px;
}
