/*-----top block-----*/
.news-topblock {
  width: auto;
  /* border: solid red 5px; */
  color: #949486;
}

.news-topblock h5 {
  text-align: center;
  font-size: 20px;
  /* line-height: 150px; */
  font-weight: bold;
  padding-top: 80px;
}

.news-topblock h1 {
  text-align: center;
  font-size: 40px;
  /* line-height: 150px; */
  font-weight: bold;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

/*-----news-choosing-block-----*/
.news-choosing-block {
  width: auto;
  height: 150px;
  /* outline: 5px solid red; */
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.news-choosing-block a {
  display: block;
  /* flex-basis: 170px; */
  flex-basis: 130px;

  /* height: 60px; */
  line-height: 50px;
  outline: 1px solid #949486;
  text-align: center;
  margin: 0 30px;
  color: #949486;
  margin: 0 15px;
  transition: 0.3s;
}

.news-choosing-block a:hover {
  color: white;
  background-color: #949486;
}

.news-choosing-block .active {
  color: white;
  background-color: #949486;
}

/*-----news content-----*/

.news-content {
}

.news-content ul {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 30px;
  width: 1200px;
  margin: 0 auto;
}

.news-content ul li {
  flex-basis: 280px;
  height: 350px;
  /* outline: 5px solid red; */
  display: flex;
  margin: 20px 50px;
  /* flex-grow: 1; */
}

.news-content ul li a {
  display: flex;
  /* border: 5px solid red; */
  flex-direction: column;
  color: black;
  transition-property: all;
  transition-duration: 0.3s;
  outline: 3px solid transparent;
}

.news-content ul li a:hover {
  background-color: white;
  /* box-shadow: 3px 3px rgba(0, 0, 0, 0.1); */
  outline: 1px solid #949486;
}

.news-content ul li a img {
  transition: 0.3s;
}

.news-content ul li a:hover img {
  transform: scale(105%);
}

.news-content ul li .news-img-block {
  height: 250px;
  width: auto;
  flex-grow: 1;
  overflow: hidden;
  outline: 1px solid #949486;
  /* border: solid green 5px; */
}

.news-content ul li .news-img-block img {
  width: 100%;
}

.news-content ul li .news-date-eventornew-block {
  flex-grow: 1;
  display: flex;
  /* padding: 0 20px; */
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
}

.news-content ul li .news-date-eventornew-block > p {
}

.news-content ul li .news-date-eventornew-block .event {
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #bc955c;
  color: white;
}

.news-content ul li .news-date-eventornew-block .newitem {
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #b3bd75;
  color: white;
}

.news-content ul li .news-text {
  flex-grow: 1;

  /* outline: solid blue 5px; */
}

.news-content ul li .news-text h3 {
  padding-left: 20px;
}
