.content {
  width: 600px;
  margin: 0 auto;
  /* border: 5px solid red; */
}

/*-----message-block-----*/

.message-block {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.message-block .message-block_top {
  /* border: 5px solid blue; */
  display: flex;
  margin-bottom: 20px;
}

.message-block .message-block_top .event {
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #bc955c;
  color: white;
  margin: 0 20px 0 0;
  /* border: 3px solid red; */
}

.message-block .message-block_top .newitem {
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #b3bd75;
  color: white;
  margin: 0 20px 0 0;
  /* border: 3px solid red; */
}

.message-block .message-block_top .event p {
}

.message-block .message-block_top > p {
  /* margin-left: 20px; */
}

.message-block .message-block_top .date {
  /* border: solid red 3px; */
}

.message-block h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.message-block_bottom {
  margin-bottom: 20px;
}

.message-block_bottom i {
  font-size: 30px;
}

.message-block_bottom a {
  color: black;
  margin-right: 10px;
  transition: 0.3s;
}

.message-block_bottom a:hover {
  color: #bc955c;
}

/*-----photo-----*/
.photo {
  width: 600px;
  height: 600px;
  /* style="background-image: url(../img/discount1.jpg)" */
  background-image: url("../img/discount1.jpg");

  background-size: cover;
  /* margin-bottom: 70px; */
  outline: 1px solid;
  margin-bottom: 30px;
}

.back {
  text-align: center;
  /* width: 100px; */
  /* border: 5px solid red; */
  display: block;
  margin: 0 auto;
  color: #949486;
  margin-bottom: 50px;
  /* border: solid red 5px; */
  width: 90px;
}

.back i {
  transition: 0.3s;
}

.back:hover i {
  padding-right: 10px;
}
