.main-block {
  display: flex;
  padding: 50px 30px;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: center;
  /* align-items: center; */
}

.map-block {
  width: 540px;
  height: 360px;
  margin-right: 50px;
  margin-top: 20px;
}

.address-block {
}

.address-block ul {
}

.address-block ul li {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 500px;
  line-height: 45px;
  border-bottom: 2px #949486 solid;
}

.address-block ul li a {
  padding: 0 5px;
  display: block;
  color: #949486;
}

.address-block ul li .active {
  background-color: #949486;
  color: white;
}

.address-block ul li span {
  margin: 0 10px;
}

.address-block ul li span:last-child {
  /* margin-left: auto; */
  float: right;
}

.address-block .choose-address {
  width: 100%;
  text-align: center;
  background-color: transparent;
  /* color: #949486; */
  height: 30px;
  margin-bottom: 20px;
  border: none;
  outline: 1px solid #949486;
}

.address-block .choose-address:focus {
  /* background-color: white; */
}
