@import url("reset.css");

/*----- Modular -----*/

.hidden {
  display: none;
}

.out {
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* background-color: #e3ded0; */
  background-image: url(../img/texturetastic_gray.jpg);
  line-height: 1.6;
}

.content {
  width: auto;
  position: relative;
  /* padding-left: 50px; */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*-----delete up and down btn-----*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/*-----loading-----*/
.loader-out {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 9999;
  transition: 0.3s;
}
.relative {
  position: relative;
}
.loader-out {
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.loader-out.-loading {
  pointer-events: auto;
  opacity: 1;
}
.loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;
  width: 240px;
  height: 240px;
}

.loader-ring-light {
  width: 240px;
  height: 240px;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -moz-box-shadow: 0 4px 0 #acaca1 inset;
  -webkit-box-shadow: 0 4px 0 #acaca1 inset;
  box-shadow: 0 4px 0 #acaca1 inset;
  animation: rotate-360 2s linear infinite;
}

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*-----header intro-select-----*/
.header .page a {
  outline: 1px solid #bc955c;
  color: #bc955c;
}

/* Head */
.fa-bars {
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
  /* border-bottom: red 5px solid; */
  align-items: center;
  /* position: fixed; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-image: url(../img/texturetastic_gray.jpg);
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
}

.header img {
  width: 90px;
  display: block;
  /* border: 5px solid rgb(35, 221, 131); */
  flex-shrink: 0;
  margin-left: 50px;
}

.header ul {
  display: flex;
  margin-left: auto;
  transition: 0.3s;
}

.header ul li {
  justify-content: space-between;
  margin-right: 60px;
  display: block;
  position: relative;
  /* border: 5px solid red; */
}

.header ul li a {
  color: #5458488c;
  display: block;
  width: 110px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  transition: all 0.3s;
  outline: 1px solid transparent;
  /* border: 5px solid red; */
}

.header ul li a:hover {
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
  outline: 1px solid #bc955c;
  color: #bc955c;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}

.header ul li:before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  top: 0;
  left: 0;
}

/*-----member modal-----*/
.member-modal {
  /* display: none; */
  position: fixed;
  width: 300px;
  height: 270px;
  /* top: 40px; */
  background-color: #e3ded0;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  /* bottom: 40px; */
  z-index: 10;

  overflow: hidden;
}

.member-modal .member-modal_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  background-color: #aad2b2;
  color: white;
  padding: 0 10px;
}

.member-modal .member-modal_top a {
  color: white;
  display: block;
}
.fa-xmark {
}

.member-modal .member-modal_mid {
  padding-top: 10px;
  padding: 20px 15px 0;
}

.member-modal .member-modal_mid input {
  border: none;
  outline: 1px solid #949486;
  width: 100%;
  height: 35px;
}

.member-modal .member-modal_mid input:not(.member-modal_mid input:last-child) {
  padding-left: 5px;
  margin-bottom: 10px;
}

.member-modal .member-modal_mid .login {
  margin-top: 20px;
  color: white;
  background-color: #949486;
  cursor: pointer;
  transition: 0.3s;
}

.member-modal .member-modal_mid .login:hover {
  background-color: #76766b;
}
.member-modal .member-modal_bottom {
  padding-top: 10px;
  text-align: center;
}

.member-modal .member-modal_bottom .forget {
  color: #949486;
  margin-right: 30px;
}

.member-modal .member-modal_bottom .joinnow {
  color: #bc955c;
}
.member-modal .member-modal_bottom span {
}

.overlay {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 8;
}

.headeroverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.forgetpassword {
  position: absolute;
  width: 100%;
  height: 220px;
  background-color: #e3ded0;
  z-index: 15;
  top: 270px;
  /* top: 50px; */
  left: 0;
  transition: 0.3s;
  padding: 0 10px;
}

.forgetpassword a {
  display: block;
  /* border: solid red 5px; */
  width: 100%;
  margin: 20px auto;
  /* border: 5px solid red; */
  line-height: 50px;
  color: #949486;
  /* border: solid red 5px; */
  text-align: center;
}

.forgetpassword input {
  border: none;
  outline: 1px solid #949486;
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
}

.forgetpassword .forgetemail {
  padding-left: 5px;
}

.forgetpassword .forgetsend {
  color: white;
  background-color: #949486;
  cursor: pointer;
  transition: 0.3s;
}
.forgetpassword .forgetsend:hover {
  background-color: #76766b;
}
/*-----breadcrumb-----*/

.breadcrumbList {
  margin-top: 5px;
  /* background-color: #e3ded0; */
  background-image: url(../img/texturetastic_gray.jpg);
  /* background-color: white; */
  box-shadow: inset 0 0 11px 3px rgba(#000000, 0.6);
}

.breadcrumbList .container {
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumbList .breadcrumb {
  display: flex;
}

.breadcrumbList .breadcrumb li {
  padding: 20px 20px 20px 0px;
  /* padding-left: 0; */
}

.breadcrumbList .breadcrumb li::before {
  content: "/";
  color: #949486;
  padding-right: 20px;
}

.breadcrumbList .breadcrumb li:first-child::before {
  content: "";
}

.breadcrumbList .breadcrumb li:last-child a {
  color: #bc955c;
  /* text-shadow: 1px 1px 3px#bc955c; */
}

.breadcrumbList .breadcrumb a {
  color: #949486;
  font-weight: 100;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.breadcrumbList .breadcrumb a:hover {
  color: #bc955c;
  /* text-shadow: 1px 1px 3px#bc955c; */
}

/*-----Anima----- */
.anima {
  /* margin-top: 30px; */
  /* background-image: url(../img/anima_sub1_addword.jpg); */
  /* height: 300px; */
  height: 700px;
  width: 80vw;
  margin: 50px auto 0;
  /* background-size: cover; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #949486;
  font-weight: bold;
}

.anima-left {
  width: 70%;
  height: 500px;
  /* background-color: blue; */
  /* outline: 1px solid red; */
  overflow: hidden;
}

.anima-right {
  width: 30%;
  height: 500px;
  /* background-color: red; */
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anima-right a {
  border-radius: 40px;
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 30px;
  color: white;
  text-decoration: none;
  font-family: 18px;
  background: linear-gradient(90deg, #aad2b2, #b1b89b);

  overflow: hidden;
}

.anima-right a:nth-child(2) {
  background: linear-gradient(90deg, #949486, #bc955c);
}

.anima span {
  position: absolute;
  background: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.anima-text-h1 {
  width: 100%;
  font-size: 40px;
}

.anima-text-h3 {
  width: 100%;
  font-size: 30px;
}

.anima-text-h3hidden {
  width: 100%;
  font-size: 30px;
  color: transparent;
  transition: 0.3s;
  user-select: none;
}

/* ---Event --- */
.event {
  height: 450px;
  width: 90vw;
  margin: 0 auto;
  /* margin-top: 10px; */
  /* padding: 0 50px; */
}

.event ul {
  display: flex;
  justify-content: center;
  transition: 0.3s;
  /* align-items: flex-end; */
  /* padding: 30px; */
}

.event ul li {
  /* border: 5px blue solid; */
  position: relative;
  margin: 30px 20px;
}

.event ul li a {
  display: block;
  width: 380px;
  height: 380px;
  /* border: 5px solid black; */
  box-shadow: 3px 3px 3px rgb(138, 138, 138);
}

.event > ul li:first-child {
  background-image: url(../img/greenmilk.jpg);
  background-size: cover;
}

.event > ul li:nth-child(2) {
  background-image: url(../img/discount1.jpg);
  background-size: cover;
}

.bottom-block {
  position: absolute;
  line-height: 40px;
  width: 380px;
  background-color: black;
  /* color: #b1b89b; */
  color: white;
  text-align: center;
  bottom: 0;
}

.event > ul li:last-child {
  background-image: url(../img/grapefruit.jpg);
  background-size: cover;
}

.green {
  position: absolute;
  width: 380px;
  line-height: 380px;
  z-index: 1;
  font-size: 32px;
  color: transparent;
  text-align: center;
  transition: all 0.7s ease;
}

.green:hover {
  text-shadow: 1px 1px black;
  color: white;
  background-color: rgba(81, 192, 90, 0.3);
}

.fa-arrow-left {
  z-index: 3;
  /* color: #949486; */
  color: white;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.fa-arrow-right {
  z-index: 3;
  /* color: #949486; */
  color: white;

  display: block;
  width: 30px;
  line-height: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);

  text-align: center;
}

.slider-div {
  width: 100%;
  height: 100px;
  /* height: 30px; */
  /* background-color: red; */
  /* outline: 3px slid red; */
  /* border: 3px solid red; */
}

.slider-div .slider-dots {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #949486;
  /* z-index: 100; */
}

.slider-div .slider-dots.focus {
  background-color: #bc955c;
}

.event .fa-arrow-left.hidden,
.event .fa-arrow-right.hidden {
  display: none;
}

/*-----seebackground1-----*/
.seebackground1 {
  background-image: url(../img/back.jpg);
  height: 500px;
  width: auto;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.seebackground1 i {
  /* color: white; */
  font-size: 100px;
  margin-right: 50px;
}

.seebackground1 h3 {
  writing-mode: vertical-lr;
  /* color: white; */
  font-size: 30px;
}

/*-----About us ----- */

.taste {
  height: 450px;
  width: auto;
  display: flex;
  /* margin-bottom: 50px; */

  padding-right: 100px;
  padding-bottom: 50px;
}

.taste-title {
  /* border: 5px solid red; */
  padding-left: 75px;
  align-items: center;
  display: flex;
  background-image: url(../img/pngwing.com.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px 280px;
}

.taste-title h3 {
  writing-mode: vertical-lr;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.taste-content {
  /* border: solid red 5px; */
  flex-grow: 1;
  background-image: url(../img/tea_bg_nocolor.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 60px;
  padding-top: 100px;
  background-size: 20%;
  background-position: right bottom;
}

.taste-content h1 {
  font-size: 40px;
  font-weight: bold;
}

.taste-content h4 {
  color: #545454;
  margin-top: 20px;
  font-size: 25px;
}

/* -----intro----- */

.intro {
  height: 500px;
  background-image: url(../img/Rectangle\ 2.jpg);
  background-size: cover;
  position: relative;
}

.intro h5 {
  font-family: "Noto Sans TC", sans-serif;
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* text-shadow: 3px 3px 5px gray; */
  line-height: 2;
  font-size: 20px;
}

/* ----- Drink intro ----- */
.drink-intro {
  /* height: 450px;
  width: auto;
  display: flex;

  height: 450px;
  width: auto;
  display: flex;
  /* margin-bottom: 50px; */
  display: flex;

  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.drink-intro_title {
  /* padding-left: 75px;
  align-items: center;
  display: flex;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px 280px; */
  padding-left: 75px;
  align-items: center;
  display: flex;
  background-image: url(../img/pngwing.com.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px 240px;
}

.drink-intro_title h3 {
  /* writing-mode: vertical-lr;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px; */

  writing-mode: vertical-lr;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.drink-intro_content {
  /* flex-grow: 1;
 
  background-size: 20%;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-top: 100px;
  padding-bottom: 50px; */
  flex-grow: 1;
  background-image: url(../img/tastetea_nocolor.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 60px;
  padding-top: 5 0px;
  background-size: 20%;
  background-position: right bottom;
}

.drink-intro_content h1 {
  font-size: 40px;
  font-weight: bold;
}

.drink-intro_content h4 {
  color: #545454;
  margin-top: 20px;
  font-size: 25px;
}

.drink-intro_content a {
  margin-top: 30px;
  width: 130px;
  line-height: 40px;
  text-align: center;
  display: block;
  color: #545454;
  border: 1px solid black;
  transition: all 0.5s ease;
}

.drink-intro_content a:hover {
  background-color: black;
  color: white;
  width: 170px;
}

.drink-intro_content a:hover i:first-child {
  color: transparent;
}

/*-----seebackground2-----*/

.seebackground2 {
  /* border: 5px solid red; */
  height: 500px;
  background-image: url(../img/back2_mi.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.seebackground2 ul {
  display: flex;
}

.seebackground2 ul li {
  /* border: 5px solid blue; */
  flex-grow: 1;
  writing-mode: vertical-lr;
  height: 500px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 150px;
  color: white;
  font-size: 30px;
  position: relative;
}

.seebackground2 ul li i {
  padding-left: 6px;
  margin-bottom: 10px;
}

.seebackground2 ul li > h3 {
  transition: all 0.6s 0.4s ease;
}

.seebackground2 ul li div h3 {
  position: absolute;
  /* color: transparent; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -34%);
  color: transparent;
  user-select: none;
  transition: all 0.6s 0.4s ease;
}

.seebackground2 ul li:hover div h3 {
  color: white;
}

.seebackground2 ul li:hover h3 {
  color: transparent;
}

/*-----footer-----*/

.footer {
  padding-top: 10px;
  height: 120px;
  /* border: 5px solid red; */
  /* background-image: url(../img/footer.jpg); */
  background-color: #000000;
  position: relative;
  color: #b1b89b;
}

.footer h1 {
  text-align: center;
}

.connection {
  margin: 0 auto;
  width: 400px;
  /* border: solid red 5px; */
  text-align: center;
}

.footer h2 {
  display: inline-block;
  margin-left: 10px;
  /* padding-left: 300px; */
}

.footer p {
  text-align: center;
}

.link {
  position: absolute;
  right: 0;
  bottom: 0;
}

.link a {
  color: #afb69a;
  margin-right: 10px;
}
